#navbar {
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
}

#brand a {
    display: flex;
    font-size: 1rem;
    column-gap: 0.5rem;
    align-items: center;
}

#brand img {
    width: 1.5rem;
}

#brand a:hover img {
    opacity: 0.7;
}

#search-form {
    display: flex;
    column-gap: 0.5rem;
}

#search-form input {
    padding: 0.2rem 0.8rem;
    border-radius: 4px;
    border: none;
    background-color: var(--text-color);
}

#search-form button {
    border-radius: 4px;
    background-color: var(--primary-color);
    padding: 0.3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--primary-color);
}

#search-form button:hover {
    background-color: var(--hover-color);
}